<% content_for(:title, "Post | Posts") %>

<h1><%= @post.title %></h1>

<% if @post.comments.any? %>
<h4> Comments for <%= @post.title %> </h4>

<ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.comment %> |
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments for yet!</p>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  <p><%= f.submit %></p>
<% end %>
